USE [master]
GO
/****** Object:  Database [Pos]    Script Date: 7/13/2020 9:22:28 PM ******/
CREATE DATABASE [Pos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Pos.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Pos_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pos]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 7/13/2020 9:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reference] [varchar](50) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [Reference], [Name], [IsActive]) VALUES (1, N'DANIEL', N'Daniel', 1)
INSERT [dbo].[Item] ([Id], [Reference], [Name], [IsActive]) VALUES (2, N'Tri', N'Tri', 1)
INSERT [dbo].[Item] ([Id], [Reference], [Name], [IsActive]) VALUES (3, N'Levanji', N'Levanji', 1)
SET IDENTITY_INSERT [dbo].[Item] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Item]    Script Date: 7/13/2020 9:22:28 PM ******/
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [IX_Item] UNIQUE NONCLUSTERED 
(
	[Reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
USE [master]
GO
