@{
    ViewBag.Title = "Index";
}
<body>
    @section Scripts {
        <script type="text/javascript" src="~/Scripts/libs/runtime-es5.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/polyfills-es5.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/styles-es5.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/vendor-es5.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/main-es5.js"></script>
    }

    <app-root></app-root>
</body>
    

